# Data Import

In [8]:
import pandas as pd
import numpy as np

In [9]:
df1=pd.read_csv("p2t.csv")

In [10]:
df=df1.copy()

In [11]:
pd.options.display.max_columns=None

In [6]:
df

,id,time,orig_time,first_time,mat_time,res_time,balance_time,LTV_time,interest_rate_time,rate_time,hpi_time,gdp_time,uer_time,REtype_CO_orig_time,REtype_PU_orig_time,REtype_SF_orig_time,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,state_orig_time,hpi_orig_time,default_time,payoff_time,status_time,lgd_time,recovery_res
0,4,25,-2,25,119,NaN,61031.10,33.911009,10.500,5.90,226.29,2.899137,4.7,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
1,4,26,-2,25,119,NaN,60882.42,34.007232,10.500,5.90,225.10,2.151365,4.7,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
2,4,27,-2,25,119,NaN,60729.80,34.335349,10.500,5.90,222.39,2.361722,4.4,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
3,4,28,-2,25,119,NaN,60576.14,34.672545,10.875,5.90,219.67,1.229172,4.6,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
4,4,29,-2,25,119,NaN,60424.39,34.951639,10.875,5.90,217.37,1.692969,4.5,0,0,1,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62173,49972,52,25,52,145,NaN,180673.24,103.306966,7.500,5.15,161.13,1.081049,8.0,0,0,1,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0,NaN,NaN
62174,49972,53,25,52,145,NaN,179944.95,95.736862,7.500,5.15,173.17,0.892996,7.6,0,0,1,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0,NaN,NaN
62175,49972,54,25,52,145,NaN,179451.81,91.867079,7.500,5.15,179.97,1.507359,7.3,0,0,1,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0,NaN,NaN
62176,49972,55,25,52,145,NaN,178952.48,91.560581,7.500,5.15,180.07,2.422275,7.2,0,0,1,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0,NaN,NaN
62177,49972,56,25,52,145,NaN,178952.48,90.874242,7.500,5.15,181.43,1.717053,6.6,0,0,1,0,196000.0,708,79.8,7.5,AL,226.29,1,0,1,0.0,178952.48

# Variable Assignment

In [5]:
# Can not start with number or special characters
name_of_var = 2

In [6]:
x = 2
y = 3

In [7]:
z = x + y
print(z)

5

In [8]:
p='peaks2tails'
p

'peaks2tails'

# Data Types

### Numeric Data Types

In [9]:
1+3

4

In [10]:
1 * 3

3

In [11]:
1 / 2

0.5

In [12]:
2 ** 4

16

In [13]:
5 % 2

1

In [14]:
(2 + 3) * (5 + 5)

50

In [15]:
#Integer(int)
credit_score = 550
print(type(credit_score))

<class 'int'>

In [16]:
#Float(float)
interest_rate = 0.0425 #ie.4.25%
print(type(interest_rate))

<class 'float'>

In [17]:
#Complex(complex)
risk_factor = 3 + 4j
print(type(risk_factor))

<class 'complex'>

### String

In [18]:
'single quotes'

'single quotes'

In [19]:
"double quotes"

'double quotes'

In [20]:
customer_name = "Pranav"
print(type(customer_name))

<class 'str'>

# LIST

In [21]:
# List of numbers possible on a dice
[1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [22]:
# List of Cities 
['Delhi','Mumbai','chennai']

['Delhi', 'Mumbai', 'chennai']

In [27]:
# List of my variables 
['id', 'time', 'orig_time', 'first_time', 'mat_time', 'res_time','balance_time', 'LTV_time', 'interest_rate_time', 'rate_time']

['id',
 'time',
 'orig_time',
 'first_time',
 'mat_time',
 'res_time',
 'balance_time',
 'LTV_time',
 'interest_rate_time',
 'rate_time']

In [30]:
['orig_time',1,45,['mat_time', 'res_time']]

['orig_time', 1, 45, ['mat_time', 'res_time']]

In [53]:
my_list = ['LTV_time', 'interest_rate_time', 'rate_time']

In [54]:
my_list

['LTV_time', 'interest_rate_time', 'rate_time']

In [33]:
print(type(my_list))

<class 'list'>

In [25]:
df[["id","first_time"]] # we pass a list of column names in our df t0 create a subset

          id  first_time
0          4          25
1          4          25
2          4          25
3          4          25
4          4          25
...      ...         ...
62173  49972          52
62174  49972          52
62175  49972          52
62176  49972          52
62177  49972          52

[62178 rows x 2 columns]

In [17]:
col_list=["id","first_time"]

In [18]:
df[col_list]

          id  first_time
0          4          25
1          4          25
2          4          25
3          4          25
4          4          25
...      ...         ...
62173  49972          52
62174  49972          52
62175  49972          52
62176  49972          52
62177  49972          52

[62178 rows x 2 columns]

In [34]:
my_list.append("Equity") # Equity = 1-(LTV_time)/100

In [48]:
my_list

['LTV_time', 'interest_rate_time', 'rate_time']

In [49]:
my_list.append(['gdp','hpi','uer'])

In [50]:
my_list

['LTV_time', 'interest_rate_time', 'rate_time', ['gdp', 'hpi', 'uer']]

In [56]:
my_list.extend(['gdp','hpi','uer'])

In [57]:
my_list

['LTV_time', 'interest_rate_time', 'rate_time', 'gdp', 'hpi', 'uer']

In [58]:
my_list[1:4]

['interest_rate_time', 'rate_time', 'gdp']

In [59]:
my_list[1:]

['interest_rate_time', 'rate_time', 'gdp', 'hpi', 'uer']

In [60]:
my_list[:2]

['LTV_time', 'interest_rate_time']

In [61]:
my_list[0] = 'NEW'

In [62]:
my_list

['NEW', 'interest_rate_time', 'rate_time', 'gdp', 'hpi', 'uer']

In [38]:
list2 = [1,2,3,[4,5,['p2t']]]

In [39]:
list2[3][2][0]

'p2t'

# Dictionaries

In [40]:
d = {'key1':'item1','key2':'item2'}

In [41]:
d

{'key1': 'item1', 'key2': 'item2'}

In [42]:
d['key1']

'item1'

In [43]:
df = df.rename({'id': 'customer_id'},axis=1)
df.head()

,customer_id,time,orig_time,first_time,mat_time,res_time,balance_time,LTV_time,interest_rate_time,rate_time,...,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,state_orig_time,hpi_orig_time,default_time,payoff_time,status_time,lgd_time,recovery_res
0,4,25,-2,25,119,NaN,61031.10,33.911009,10.500,5.9,...,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
1,4,26,-2,25,119,NaN,60882.42,34.007232,10.500,5.9,...,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
2,4,27,-2,25,119,NaN,60729.80,34.335349,10.500,5.9,...,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
3,4,28,-2,25,119,NaN,60576.14,34.672545,10.875,5.9,...,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN
4,4,29,-2,25,119,NaN,60424.39,34.951639,10.875,5.9,...,587,81.8,10.5,KY,97.99,0,0,0,NaN,NaN

# Tuple

In [44]:
t = (1,2,3)

In [45]:
t[0]

1

In [46]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [68]:
df['mat_state'] = df[['mat_time', 'state_orig_time']].apply(tuple, axis=1)
type(df['mat_state'][0])

tuple

# Boolean

In [69]:
True

True

In [70]:
False

False

In [13]:
df_bol=df.duplicated()

In [14]:
type(df_bol[0])

numpy.bool_

# Sets

In [73]:
{1,2,3}

{1, 2, 3}

In [74]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [75]:
unique_ids = set(df['customer_id'])
type(unique_ids)

set

# If Else , Elif Statements

In [76]:
if 1 < 2:
    print('Peaks2tails')

Peaks2tails

In [77]:
if 1 > 2:
    print('Peaks2tails')
else:
    print('Karan')

Karan

In [78]:
if df['time'][0]>=df["first_time"][0]:
    print('Peaks2tails')
else:
    print('Karan')

Peaks2tails

In [79]:
a=3
if a == 2:
    print('first')
elif a == 3:
    print('middle')
else:
    print('Last')

middle

# Loops

In [80]:
seq = [1,2,3,4,5]

In [81]:
for item in seq:
    print(item)

1
2
3
4
5

In [82]:
for item in seq:
    print('Peaks2tails')

Peaks2tails
Peaks2tails
Peaks2tails
Peaks2tails
Peaks2tails

In [83]:
df['customer_id']*df['customer_id']

0                16
1                16
2                16
3                16
4                16
            ...
62173    2497200784
62174    2497200784
62175    2497200784
62176    2497200784
62177    2497200784
Name: customer_id, Length: 62178, dtype: int64

In [84]:
df['LTV_time']

0         33.911009
1         34.007232
2         34.335349
3         34.672545
4         34.951639
            ...
62173    103.306966
62174     95.736862
62175     91.867079
62176     91.560581
62177     90.874242
Name: LTV_time, Length: 62178, dtype: float64

In [ ]:
for i in df['LTV_time']:
  if i <50:
    print(i,' good')
  else:
    print(i,' bad')

# While Loop

In [85]:
i = 1
while i < 5:
    print('Peaks2tails')
    i = i+1

Peaks2tails
Peaks2tails
Peaks2tails
Peaks2tails

In [ ]:
i = 0  
while i < len(df['LTV_time']):
    index = df['LTV_time'][i] 
    if index < 50:
        print(index, 'good')
    else:
        print(index, 'bad')
    i += 1

In [ ]:
for i in range(len(df)):
    
    if df['time'][i]>=df['first_time'][i]:
        print("time of observation is greater than or equal to first time of observation")
    
    else:
        print("time of observation is less than first time of observation")

# List Comprehension

In [15]:
x = [1,2,3,4]

In [17]:
[item**2 for item in x]

[1, 4, 9, 16]

# Functions

In [90]:
def square(x):
    """
    This will take any argument and print square of the number
    """
    return x*x

In [91]:
square

In [92]:
square(4)

16

In [18]:
def custom_describe(df, column):
    r={}
    #creating a dictionary to store the values
    r['count'] = df[column].count()
    r['mean'] = df[column].mean()
    r['min'] = df[column].min()
    r['max'] = df[column].max()
    r['std'] = df[column].std()
    quantiles = df[column].quantile([0.25, 0.5, 0.75])
    r['25%'] = quantiles.loc[0.25]
    r['50%'] = quantiles.loc[0.5]
    r['75%'] = quantiles.loc[0.75]
    r['skewness']=df[column].skew()
    r['kurtosis']=df[column].kurt()
    print(type(r))

    return r

In [20]:
result = custom_describe(df, 'id')
results = pd.DataFrame([result]).T
#T is to take transpose
results.columns = ['Custom Description']
print(results)

<class 'dict'>
          Custom Description
count           62178.000000
mean            25371.293528
min                 4.000000
max             49972.000000
std             13737.375198
25%             13711.250000
50%             25572.000000
75%             37326.000000
skewness           -0.028065
kurtosis           -1.146716

# Methods

In [93]:
st = 'India is a great country'

In [94]:
st.lower()

'india is a great country'

In [95]:
st.upper()

'INDIA IS A GREAT COUNTRY'

In [96]:
st.split()

['India', 'is', 'a', 'great', 'country']

In [ ]:
# Functions have independent existence

# Attributes

In [116]:
df.index

RangeIndex(start=0, stop=62178, step=1)

In [119]:
df.columns

Index(['customer_id', 'time', 'orig_time', 'first_time', 'mat_time',
       'res_time', 'balance_time', 'LTV_time', 'interest_rate_time',
       'rate_time', 'hpi_time', 'gdp_time', 'uer_time', 'REtype_CO_orig_time',
       'REtype_PU_orig_time', 'REtype_SF_orig_time', 'investor_orig_time',
       'balance_orig_time', 'FICO_orig_time', 'LTV_orig_time',
       'Interest_Rate_orig_time', 'state_orig_time', 'hpi_orig_time',
       'default_time', 'payoff_time', 'status_time', 'lgd_time',
       'recovery_res', 'dummy', 'mat_state'],
      dtype='object')

In [122]:
type(df.columns.values)

numpy.ndarray

In [123]:
df.axes

[RangeIndex(start=0, stop=62178, step=1),
 Index(['customer_id', 'time', 'orig_time', 'first_time', 'mat_time',
        'res_time', 'balance_time', 'LTV_time', 'interest_rate_time',
        'rate_time', 'hpi_time', 'gdp_time', 'uer_time', 'REtype_CO_orig_time',
        'REtype_PU_orig_time', 'REtype_SF_orig_time', 'investor_orig_time',
        'balance_orig_time', 'FICO_orig_time', 'LTV_orig_time',
        'Interest_Rate_orig_time', 'state_orig_time', 'hpi_orig_time',
        'default_time', 'payoff_time', 'status_time', 'lgd_time',
        'recovery_res', 'dummy', 'mat_state'],
       dtype='object')]

In [124]:
df.shape

(62178, 30)

In [125]:
df.size

1865340

# Range Function

In [98]:
range(5)

range(0, 5)

In [99]:
for i in range(5):
    print(i)

0
1
2
3
4

# Lambda

In [100]:
square(23)

529

In [101]:
lambda x:x*x*x

In [102]:
df['dummy'] = df['LTV_time'].apply(lambda x: 1 if x > 95 else 0)
df['dummy']

0        0
1        0
2        0
3        0
4        0
        ..
62173    1
62174    1
62175    0
62176    0
62177    0
Name: dummy, Length: 62178, dtype: int64

# Map function

In [103]:
seq = [1,2,3,4,5]

In [104]:
map(square,seq)

In [105]:
list(map(square,seq))

[1, 4, 9, 16, 25]

In [107]:
#map function
def add_five(x):
  return x + 5

modified_time = list(map(add_five, df['orig_time']))
modified_time

[3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 64,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 65,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 30,
 30,
 30,
 30,
 30,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 28,
 28,
 28,
 26,
 26,
 26,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 26,
 28,
 28,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 32,
 32,
 32,
 32,
 32,
 32,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 31,
 31,
 31,
 31,
 31,
 22,
 22,
 22,
 29,
 29,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 24,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 24,
 24,
 24,
 24,
 31,
 31,
 31,
 31,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 30,
 30,
 30,
 30,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 30,
 30,
 22,
 22,
 22,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 24,
 24,
 30,
 30,
 30,
 30,
 24,
 24,
 24,
 24,
 24,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 ...]

In [106]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

# Filter Function

In [108]:
filter(lambda item: item%2 == 0,seq)

In [109]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [110]:
def is_positive(x):
  return x > 0

positive_numbers = list(filter(is_positive,df['orig_time']))

positive_numbers

[18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 25,
 25,
 25,
 25,
 25,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 21,
 21,
 21,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 21,
 23,
 23,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 27,
 27,
 27,
 27,
 27,
 27,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 26,
 26,
 26,
 26,
 26,
 17,
 17,
 17,
 24,
 24,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 19,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 19,
 19,
 19,
 19,
 26,
 26,
 26,
 26,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 25,
 25,
 25,
 25,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 25,
 25,
 17,
 17,
 17,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 19,
 19,
 25,
 25,
 25,
 25,
 19,
 19,
 19,
 19,
 19,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 9,
 9,
 ...]

In [111]:
positive_number = list(filter(lambda x:x>0,df['orig_time']))
positive_number

[18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 59,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 25,
 25,
 25,
 25,
 25,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 21,
 21,
 21,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 21,
 23,
 23,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 27,
 27,
 27,
 27,
 27,
 27,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 26,
 26,
 26,
 26,
 26,
 17,
 17,
 17,
 24,
 24,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 19,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 19,
 19,
 19,
 19,
 26,
 26,
 26,
 26,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 25,
 25,
 25,
 25,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 25,
 25,
 17,
 17,
 17,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 19,
 19,
 25,
 25,
 25,
 25,
 19,
 19,
 19,
 19,
 19,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 9,
 9,
 ...]

In [ ]:
# Thanx for taking my course . I would request you to Practice each cell and do manipultaions so that you can actually feel the code .